body{
    background-color: #dfdfdf;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

h3{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#navbar{
    background-color: #333;
    color: #fff;
}

#navbar ul{
    list-style-type: none;
    text-align: center;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#navbar a:hover{
    color: #2bff00;
    font-style: italic;
}

.frame{
    width: 130px;
    height: 150px;
    margin: 0;
    overflow: visible;
    display: inline-block;
    background-color: #888888;
    text-align: center;
}

.button{
    display: inline-block;
    background-color: #2bff00;
    color: #000000;
    padding: 5px 10px;
    border: outset;
    text-decoration: none;
    position: relative;
    margin-left: 2em;
    top: 1em;
}

.button:hover{
    font-style: italic;
    font-weight: bold;
}

.listMenu a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}

.listMenu a:hover{
    color: #2bff00;
    font-style: italic;
}

.listMenu h5{
    font-weight: bold;
}





#calendar{
    position: relative;
    left: 600px;
    bottom: 10px;
}



#header {
    background-image: url(/Users/josh/webdev/id1354/img/header.png);
    background-size: cover;
    width: 1450px;
    height: 280px;
    background-repeat: no-repeat;
   
}

/*calendar code*/
/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 0em;
    background-color: #999999;
}

.weekdays li {
    display: inline-block;
    width: 12%;
    font-weight: bold;
    text-align: center;
    padding-top: 2em;
    padding-left: 1.04em;
    margin-left: .3em;
}

/* Days (1-31) */
.days {
    padding: 0;
    
    
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: left;
    margin-left: .5em;
    margin-bottom: .6em;
    margin-top: .6em;
    font-size:12px;
    font-weight: bold;
    color: #000000;
    padding-top: 0em;
    padding-left: .3em;
    padding-bottom: 9.2em;
    background: #2bff00;
}



.meatballs a{
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-image: url(/Users/josh/webdev/id1354/img/meatballs.png);
    background-repeat: no-repeat;
    background-position: center;
    left: 252px;
    top: 370px;
    position: absolute;
}

.pancakes a{
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: contain;
    background-image: url(/Users/josh/webdev/id1354/img/pancakes.png);
    background-repeat: no-repeat;
    background-position: center;
    left: 52px;
    top: 370px;
    position: absolute;
}


/*Meatballs recepie page, mby try and make it so both pages use the same code.*/
.rHeader{
    font-size: 64px;
    display: block;
    font-weight: bold;
    padding-top: 1em;
    text-align: left;
    margin-left: 0.4em;
}

.pictureMeatballs{
    background-image: url(/Users/josh/webdev/id1354/img/meatballs.png);
    display: block;
    width: auto;
    height: 243px;
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
    padding-bottom: 6em;
    margin-left: 2em;
}


.block{
    float: left;
    width: 43%;
    background: #9c9c9c;
    padding-left: 2em;
    margin-left: 2em;
    padding-top: .5em;
}

.block li{
    list-style-type: square;
}



.comments{
    width: 90.5%;
    display: block;
    overflow: hidden;  
    background-color: #9c9c9c;
    height: 200px;
    position: relative;
    text-align: left;
    margin-top: 19em;
    margin-left: 2em;
    margin-right: 50em;
    line-height: 2.5em;
    padding-left: 2em;
}


.picturePancakes{
    background-image: url(/Users/josh/webdev/id1354/img/pancakes.png);
    display: block;
    width: auto;
    height: 243px;
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
    padding-bottom: 6em;
    margin-left: 2em;
}

.pictureCalendarPromo{
    background-image: url(/Users/josh/webdev/id1354/img/calendarPromo.png);
    display: block;
    width: auto;
    height: 243px;
    background-repeat: no-repeat;
    position: relative;
    top: 50px;
    padding-bottom: 3em;
    margin-left: 2em;
}